/* Box-sizing border-box */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* Some default styles to make each box visible */
.box {
  color: white;
  font-size: 2rem;
  text-align: center;
  text-shadow: 0.04rem 0.04rem 0 rgba(0, 0, 0, 0.1);
  padding: 0.6rem;
}

/* We start writing out flexbox here. The above is just page setup */
.container {
  display: flex;
  flex-flow: row nowrap;

  min-height: 100vh;
  border: 10px solid goldenrod;
}

.box {
  width: fit-content;
}

/* Colours for each box */
.box1 {
  background: #1abc9c;
  order: 2;
}
.box2 {
  background: #3498db;
  order: 1;
}
.box3 {
  background: #9b59b6;
}
.box4 {
  background: #34495e;
}
.box5 {
  background: #f1c40f;
}
.box6 {
  background: #e67e22;
}
.box7 {
  background: #e74c3c;
}
.box8 {
  background: #bdc3c7;
}
.box9 {
  background: #2ecc71;
}
.box10 {
  background: #16a085;
}
